* {font-family: "Raleway", sans-serif}

body, html {
	height: 100%;
	margin: 0;
	line-height:180%;
	color: #949494;
	text-align: center;
}

.parallax_1 {
	background: url(img/1.jpg);
	min-height: 100%;
}

.parallax_2 {
	background: url(img/2.jpg);
	min-height: 60%;
}

.parallax_3 {
	background: url(img/3.jpg);
	min-height: 40%;
}

.parallax_4 {
	background: url(img/4.jpg);
	min-height: 100%;
}

.parallax_1,
.parallax_2,
.parallax_3,
.parallax_4 {
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.heading {
	position: absolute;
	color: #fff;
	font-size: 350%;
	top: 38%;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 8px;
	text-shadow: 0 0 10px #000;
}

.heading-sm {
	position: absolute;
	top: 45%;
	width: 100%;
	color: #fff;
	font-size: 250%;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0 0 10px #000;
}

.two-col {
	float: left;
	width: 42%;
	padding: 0 4%;
	text-align: left;
}

section {
	overflow: auto;
	padding: 50px 80px;
}

.dark {
	overflow: auto;
	padding: 50px 80px;
	background-color: #323232;
	color: #f2f2f2;
}

@media (max-width:  768px){
	.heading {
		font-size: 250%;
	}
	.heading-sm {
		font-size: 180%;
	}
	.two-col {
		width: 100%;
		padding: 0;
		text-align: center;
	}
}